.app-header {
    margin-top: 1rem;
}

.app-body {
    display: flex;
    justify-content: center;
}

.app-footer {
    padding: 8px;
    display: flex;
    justify-content: center;
    font-size: 8pt;
}
