.search-result {
    margin-bottom: 1rem;
    display: flex;
}

.search-result-top-row {
    display: flex;
}

.search-result-image-container {
    margin-right: 1rem;
}


.search-result-title {
    margin-bottom: 0rem;
}

.search-result-author {
    margin-bottom: 8px;
    margin-top: 0rem;
}

.search-result-description {
    width: 100%;
    margin-bottom: 8px;
}

.search-result-details {
    margin: 0rem;
    display: flex;
    flex-direction: row;
    font-style: italic;
}

.detail {
    margin-right: 16px;
}